@import "regles.css";
main #main section, header .header__logoposition {
  max-width: 600px;
}

main #main .commander {
  font-family: "Roboto-regular", Arial, Georgia, Verdana, Impact;
}

.main-menu .menu .plat-conteneur__txt p, .main-menu .menu .plat-conteneur__txt h4, .main-menu .menu__titre h3 {
  font-family: "Roboto-light", Arial, Georgia, Verdana, Impact;
  font-weight: lighter;
}

header {
  position: sticky;
  top: 0.1px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
header a,
header a:hover,
header a:active,
header a:visited {
  color: black;
}
header .header {
  box-shadow: 0px 3px 5px 0px #cacaca;
  height: 70px;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header__arrow {
  color: #353535;
  position: relative;
  left: 30px;
  z-index: 11;
  font-size: 140%;
}
header .header__logoposition {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 890px) {
  header .header__logoposition {
    max-width: 850px;
  }
}

.background {
  height: 250px;
}
.background--lapalettedugout {
  background: no-repeat url(base/images/lapalettedugout.jpg);
  background-size: cover;
}
.background--lanoteenchantee {
  background: no-repeat url(base/images/lanoteenchantee.jpg);
  background-size: cover;
}
.background--alafrancaise {
  background: no-repeat url(base/images/alafrancaise.jpg);
  background-size: cover;
}
.background--ledelicedessens {
  background: no-repeat url(base/images/ledelicedessens.jpg);
  background-size: cover;
}

main #main {
  font-size: 78%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  bottom: 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
main #main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 450px) {
  main #main section {
    font-size: 110%;
  }
}
@media screen and (min-width: 890px) {
  main #main section {
    max-width: initial;
    width: 100%;
  }
}
main #main .commander {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #main .commander__bouton {
  font-size: 120%;
  width: 130px;
  transition: box-shadow 0.4s, filter 0.4s;
  padding: 20px 30px 20px 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  box-shadow: 1px 5px 5px 2px #e7e7e7;
}
main #main .commander__bouton:hover {
  box-shadow: 1px 5px 5px 2px #969696;
  filter: brightness(1.1);
}

.main-titre {
  align-items: center;
  width: 90%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 350px) {
  .main-titre {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 890px) {
  .main-titre {
    width: 85%;
  }
}
.main-titre h2 {
  font-weight: lighter;
  font-size: 207%;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 350px) {
  .main-titre h2 {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1000px) {
  .main-titre h2 {
    font-size: 250%;
  }
}
.main-titre__coeur {
  margin-right: 15px;
  font-size: 150%;
  color: #f6f6f6;
  background: linear-gradient(to right top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  transition: color 0.4s, text-shadow 0.4s;
  text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
}
@media screen and (min-width: 890px) {
  .main-titre__coeur {
    font-size: 170%;
  }
}
.main-titre__coeur:hover {
  text-shadow: initial;
  color: transparent;
}

.main-menu {
  width: 100%;
}
.main-menu .menu {
  opacity: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
}
.main-menu .menu__titre {
  text-align: start;
  font-size: 90%;
  width: 90%;
  padding-bottom: 10px;
}
@media screen and (min-width: 890px) {
  .main-menu .menu__titre {
    padding-left: 7%;
  }
}
.main-menu .menu__titre h3 {
  width: 55px;
  padding-bottom: 5px;
  border-bottom: 4px solid #99E2D0;
}
@media screen and (min-width: 890px) {
  .main-menu .menu__titre h3 {
    font-size: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .main-menu .menu__titre h3 {
    padding: 10px 0 5px 0;
    font-size: 120%;
  }
}
.main-menu .menu .plat {
  width: 100%;
}
@media screen and (min-width: 890px) {
  .main-menu .menu .plat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.main-menu .menu .plat p {
  margin-top: 5px;
  font-size: 85%;
}
.main-menu .menu .plat-conteneur {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: white;
  overflow: hidden;
  font-size: 90%;
  width: 90%;
  border-radius: 15px;
  margin: 0 15px 15px 15px;
  box-shadow: 1px 5px 5px 2px #e7e7e7;
  transition: box-shadow 0.4s;
}
@media screen and (min-width: 890px) {
  .main-menu .menu .plat-conteneur {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: initial;
    margin: 0 7px 0 7px;
  }
}
@media screen and (min-width: 1000px) {
  .main-menu .menu .plat-conteneur {
    margin: 0 10px 0 10px;
  }
}
@media screen and (min-width: 1500px) {
  .main-menu .menu .plat-conteneur {
    margin: 0 15px 0 15px;
  }
}
.main-menu .menu .plat-conteneur:hover {
  box-shadow: 1px 5px 5px 2px #cacaca;
}
.main-menu .menu .plat-conteneur:hover .plat-conteneur__txt .gras {
  transform: translate(-70%);
}
@media screen and (min-width: 890px) {
  .main-menu .menu .plat-conteneur:hover .plat-conteneur__txt .gras {
    transform: translate(0, -100%);
  }
}
@media screen and (min-width: 1000px) {
  .main-menu .menu .plat-conteneur:hover .plat-conteneur__txt .gras {
    transform: translate(0, -70%);
  }
}
.main-menu .menu .plat-conteneur:hover .plat-conteneur__icon {
  opacity: 1;
  transform: translate(0%, 0%) scale(1, 1);
}
.main-menu .menu .plat-conteneur:hover .plat-conteneur__icon i {
  -webkit-animation: rotate 0.5s ease-in;
          animation: rotate 0.5s ease-in;
}
.main-menu .menu .plat-conteneur__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #99E2D0;
  transform: translate(100%, 0%) scale(0, 1);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transition-property: transform, opacity;
  text-align: center;
  padding-top: 25px;
  width: 70px;
  font-size: 140%;
  color: white;
}
@media screen and (min-width: 890px) {
  .main-menu .menu .plat-conteneur__icon {
    height: 50px;
    padding-top: 9px;
    font-size: 250%;
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .main-menu .menu .plat-conteneur__icon {
    padding-top: 12px;
  }
}
@media screen and (min-width: 890px) {
  .main-menu .menu .plat-conteneur--4elements {
    width: 204px;
    height: 130px;
    font-size: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .main-menu .menu .plat-conteneur--4elements {
    width: 226px;
    height: 160px;
    font-size: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu .menu .plat-conteneur--4elements {
    width: 275px;
    height: 170px;
    font-size: 85%;
  }
}
@media screen and (min-width: 1500px) {
  .main-menu .menu .plat-conteneur--4elements {
    width: 305px;
  }
}
@media screen and (min-width: 890px) {
  .main-menu .menu .plat-conteneur--3elements {
    width: 275px;
    height: 130px;
    font-size: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .main-menu .menu .plat-conteneur--3elements {
    width: 308px;
    height: 160px;
    font-size: 75%;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu .menu .plat-conteneur--3elements {
    width: 375px;
    height: 170px;
    font-size: 85%;
  }
}
@media screen and (min-width: 1500px) {
  .main-menu .menu .plat-conteneur--3elements {
    width: 420px;
  }
}
.main-menu .menu .plat-conteneur__txt {
  padding: 12px 0 0 12px;
  background-color: white;
  width: 100%;
  font-size: 105%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
@media screen and (min-width: 890px) {
  .main-menu .menu .plat-conteneur__txt {
    width: 97.5%;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    height: 50%;
    font-size: 115%;
    padding: 20px 7px 5px 7px;
  }
}
.main-menu .menu .plat-conteneur__txt h4 {
  width: 100%;
  font-size: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
@media screen and (min-width: 500px) {
  .main-menu .menu .plat-conteneur__txt h4 {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
    font-size: 105%;
  }
}
.main-menu .menu .plat-conteneur__txt p {
  width: 80%;
  font-size: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 500px) {
  .main-menu .menu .plat-conteneur__txt p {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
    width: 100%;
  }
}
.main-menu .menu .plat-conteneur__txt .gras {
  text-align: end;
  width: 80px;
  position: relative;
  bottom: 14px;
  left: 83%;
  font-size: 90%;
  transition: all 0.4s;
}
@media screen and (min-width: 500px) {
  .main-menu .menu .plat-conteneur__txt .gras {
    left: 90%;
  }
}
@media screen and (min-width: 890px) {
  .main-menu .menu .plat-conteneur__txt .gras {
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    top: 25px;
    font-size: 130%;
  }
}/*# sourceMappingURL=menu.css.map */