
.gras{
	font-family: 'Roboto-gras', Arial, Georgia, Verdana, Impact;
}
@font-face{
    font-family: 'Roboto-regular';
    src: url('base/Roboto-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'Roboto-light';
    src: url('base/Roboto-Light.ttf') format('truetype');
}
@font-face{
    font-family: 'Roboto-gras';
    src: url('base/Roboto-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'Shrikhand';
    src: url('base/Shrikhand-Regular.ttf') format('truetype');
}
@keyframes opac{
    0%{ opacity: 0;}
    60%{ opacity: 0.5;}
    100%{ opacity: 1;}
}
@keyframes rotate{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
@keyframes loader-size{
    0%{ transform: scale(1.1, 80);}
    99.99%{ transform: scale(1.1, 80);}
    100%{ transform: scale(1, 1);}
}
@keyframes loader-opac{
    0%{ opacity: 0;}
    99.99%{ opacity: 0;}
    100%{ opacity: 1;}
}
@keyframes loader-translate{
    0%{ transform: translate(0, 250px);}
    99.99%{ transform: translate(0, 250px);}
    100%{ transform: translate(0, -100px);}
}