@import "regles.css";
body {
  margin-left: auto;
  margin-right: auto;
}

footer #footer, .restaurant, .nav-section nav, .nav-section h3 {
  max-width: 600px;
}

.restaurant-block__txt__icons p, .nav-conteneur__block div:nth-child(1), .explorer__reserver a p, body ul, body h3 {
  font-family: "Roboto-regular", Arial, Georgia, Verdana, Impact;
}

.nav-conteneur__block h4, body h4, body p {
  font-family: "Roboto-light", Arial, Georgia, Verdana, Impact;
  font-weight: lighter;
}

.restaurant-block__txt h4 {
  font-family: "Roboto-gras", Arial, Georgia, Verdana, Impact;
}

body h2, body h1 {
  font-family: "Shrikhand", Arial, Georgia, Verdana, Impact;
}

footer #footer section h3 {
  font-family: "Shrikhand", Arial, Georgia, Verdana, Impact;
  font-size: 110%;
  font-weight: lighter;
}

.plat a:nth-child(1) {
  -webkit-animation: opac 0.7s ease-in;
          animation: opac 0.7s ease-in;
}

.plat a:nth-child(2) {
  -webkit-animation: opac 1.4s ease-in;
          animation: opac 1.4s ease-in;
}

.plat a:nth-child(3) {
  -webkit-animation: opac 2.1s ease-in;
          animation: opac 2.1s ease-in;
}

.plat a:nth-child(4) {
  -webkit-animation: opac 2.8s ease-in;
          animation: opac 2.8s ease-in;
}

.plat a:nth-child(5) {
  -webkit-animation: opac 3.5s ease-in;
          animation: opac 3.5s ease-in;
}

.index-header figure, #main-index, #footer-index {
  -webkit-animation: opac 4s linear;
          animation: opac 4s linear;
}

body {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1450px;
  min-width: 300px;
}
@media screen and (min-width: 890px) {
  body {
    font-size: 110%;
  }
}
body a {
  text-decoration: none;
}
body p {
  margin: 0;
}
body h2 {
  font-size: 200%;
}
body h3 {
  margin-bottom: 5px;
}
body h4 {
  margin: 0;
}
body ul {
  font-size: 85%;
}
body li {
  margin-top: 10px;
  list-style-type: none;
  position: relative;
  right: 40px;
}
body figure {
  position: relative;
  margin: 0;
}

.index-header {
  position: sticky;
  top: 0.1px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.index-header a,
.index-header a:hover,
.index-header a:active,
.index-header a:visited {
  color: black;
}
.index-header figure {
  box-shadow: 0px 3px 5px 0px #cacaca;
  height: 70px;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.loader {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 32px;
  text-align: center;
  font-family: "Shrikhand";
  z-index: 9;
}
.loader div {
  height: 0.1px;
  width: 100%;
  transform: translate(0, -50px);
  -webkit-animation: loader-translate 2s linear;
          animation: loader-translate 2s linear;
}
.loader div span {
  margin: 0 5px 10px 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 8px solid rgba(50, 50, 50, 0.4);
  position: relative;
}
.loader div span:after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  border-radius: 20px;
  border: 8px solid transparent;
  border-top-color: black;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

main {
  z-index: 9;
}

.explorer {
  font-size: 120%;
}
.explorer__localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  color: #353535;
  padding-top: 20px;
  padding-bottom: 20px;
}
.explorer__reserver {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.explorer__reserver h3 {
  text-align: center;
  width: 70%;
}
.explorer__reserver :nth-child(2) {
  width: 90%;
  font-size: 80%;
  color: #353535;
  text-align: center;
  margin-bottom: 25px;
}
.explorer__reserver a p {
  font-size: 75%;
  margin-bottom: 25px;
  padding: 20px 30px 20px 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  box-shadow: 1px 5px 5px 2px #e7e7e7;
  transition: box-shadow 0.4s, filter 0.4s ease-in-out;
}
.explorer__reserver a p:hover {
  box-shadow: 1px 5px 5px 2px #969696;
  filter: brightness(1.1);
}

.nav-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav-section h3 {
  width: 90%;
  font-size: 150%;
  margin-bottom: 25px;
}
@media screen and (min-width: 890px) {
  .nav-section h3 {
    max-width: initial;
  }
}
.nav-section nav {
  width: 90%;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 890px) {
  .nav-section nav {
    flex-direction: initial;
    max-width: initial;
  }
}

.nav-conteneur {
  border-radius: 20px;
  width: 100%;
  background-color: #f6f6f6;
  transition: background-color 0.4s, box-shadow 0.4s;
  margin-bottom: 15px;
  box-shadow: 1px 5px 5px 2px #e7e7e7;
}
@media screen and (min-width: 890px) {
  .nav-conteneur {
    margin-right: 25px;
  }
}
.nav-conteneur:hover {
  background-color: white;
  box-shadow: 1px 5px 5px 2px #cacaca;
}
.nav-conteneur__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  font-size: 100%;
  height: 70px;
  border-radius: 20px;
}
@media screen and (min-width: 400px) {
  .nav-conteneur__block {
    font-size: 130%;
  }
}
@media screen and (min-width: 890px) {
  .nav-conteneur__block {
    height: 100px;
    width: 100%;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1000px) {
  .nav-conteneur__block {
    font-size: 110%;
  }
}
@media screen and (min-width: 1290px) {
  .nav-conteneur__block {
    font-size: 130%;
  }
}
.nav-conteneur__block:hover div:nth-child(2) {
  color: #9356DC;
}
.nav-conteneur__block div:nth-child(1) {
  font-size: 90%;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 890px) {
  .nav-conteneur__block div:nth-child(1) {
    left: 38%;
    top: 50px;
    font-size: 140%;
    width: 35px;
    height: 35px;
    border-radius: 35px;
  }
}
@media screen and (min-width: 890px) and (min-width: 1000px) {
  .nav-conteneur__block div:nth-child(1) {
    left: 35%;
    width: 45px;
    height: 45px;
    border-radius: 45px;
  }
}
@media screen and (min-width: 890px) and (min-width: 1200px) {
  .nav-conteneur__block div:nth-child(1) {
    left: 32%;
    width: 45px;
    height: 45px;
    border-radius: 45px;
  }
}
.nav-conteneur__block div:nth-child(2) {
  text-align: center;
  font-size: 110%;
  padding-right: 10px;
  color: #7e7e7e;
  transition: color 0.4s;
}
@media screen and (min-width: 890px) {
  .nav-conteneur__block div:nth-child(2) {
    font-size: 140%;
    position: relative;
    right: 30px;
  }
}
.nav-conteneur__block h4 {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  font-size: 85%;
  color: black;
}
@media screen and (min-width: 890px) {
  .nav-conteneur__block h4 {
    position: relative;
    right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-conteneur__block h4 {
    right: 20px;
  }
}

.restaurant-general-conteneur {
  z-index: 9;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 890px) {
  .restaurant-general-conteneur {
    margin-top: 60px;
  }
}
.restaurant-general-conteneur a,
.restaurant-general-conteneur a:hover,
.restaurant-general-conteneur a:active,
.restaurant-general-conteneur a:visited {
  color: black;
}

.restaurant {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 890px) {
  .restaurant {
    max-width: initial;
  }
}
.restaurant h3 {
  width: 100%;
  font-size: 150%;
}
.restaurant-conteneur {
  width: 100%;
}
@media screen and (min-width: 890px) {
  .restaurant-conteneur {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.restaurant-block {
  border-radius: 20px;
  background-color: white;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 5px 2px #e7e7e7;
  transition: box-shadow 0.4s;
}
@media screen and (min-width: 890px) {
  .restaurant-block {
    margin-right: 20px;
    width: 46%;
  }
}
.restaurant-block:hover {
  box-shadow: 1px 5px 5px 2px #cacaca;
}
.restaurant-block figure {
  width: 600px;
  height: 170px;
}
@media screen and (min-width: 500px) {
  .restaurant-block figure {
    height: 200px;
  }
}
@media screen and (min-width: 890px) {
  .restaurant-block figure {
    height: 230px;
  }
}
.restaurant-block figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant-block__txt {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 40px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.restaurant-block__txt h4 {
  min-width: 140px;
}
.restaurant-block__txt p {
  padding-top: 5px;
}
.restaurant-block__txt__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-20px, 0);
}
@media screen and (min-width: 330px) {
  .restaurant-block__txt__icons {
    transform: translate(0, 0);
  }
}
.restaurant-block__txt__icons p {
  text-align: center;
  padding: 7px 10px 0 10px;
  height: 30px;
  width: 70px;
  position: relative;
  bottom: 180px;
  left: 55px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 5px;
  font-size: 110%;
}
@media screen and (min-width: 500px) {
  .restaurant-block__txt__icons p {
    bottom: 210px;
  }
}
@media screen and (min-width: 890px) {
  .restaurant-block__txt__icons p {
    width: 85px;
    bottom: 240px;
  }
}
.restaurant-block__txt__icons .coeur-plein {
  z-index: 1;
  background: linear-gradient(to right top, #FF79DA, #9356DC);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 170%;
  position: relative;
  left: 19%;
}
@media screen and (min-width: 890px) {
  .restaurant-block__txt__icons .coeur-plein {
    left: 18%;
  }
}
.restaurant-block__txt__icons .coeur-vide {
  z-index: 2;
  font-size: 170%;
  color: white;
  text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
.restaurant-block__txt__icons .coeur-vide:hover {
  opacity: 0;
}

footer {
  font-size: 120%;
  z-index: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353535;
  color: white;
}
footer a,
footer a:hover,
footer a:active,
footer a:visited {
  color: white;
}
footer #footer {
  width: 90%;
  padding-bottom: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 890px) {
  footer #footer {
    max-width: initial;
  }
}
footer #footer section {
  width: 100%;
}
footer #footer section ul span {
  font-size: 80%;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */