@import "utils/variables.scss";
@import "utils/mixins.scss";
@import "utils/extensions.scss";
@import "regles.css";

@for $i from 1 through 5 {
  .plat a:nth-child(#{$i}) {
    animation: opac ($i * 0.7s) ease-in;
  }
}
.index-header figure, #main-index, #footer-index {
  animation: opac 4s linear;
}

body {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1450px;
  min-width: 300px;
  @extend %centrage-responsive;
  @media screen and (min-width: 890px) {
    font-size: 110%;
  }
  a {
    text-decoration: none;
  }
  p {
    margin: 0;
    @extend %Roboto-light;
  }
  h1 {
    @extend %Shrikland;
  }
  h2 {
    @extend %Shrikland;
    font-size: 200%;
  }
  h3 {
    @extend %Roboto-regular;
    margin-bottom: 5px;
  }
  h4 {
    margin: 0;
    @extend %Roboto-light;
  }
  ul {
    @extend %Roboto-regular;
    font-size: 85%;
  }
  li {
    margin-top: 10px;
    list-style-type: none;
    position: relative;
    right: 40px;
  }
  figure {
    position: relative;
    margin: 0;
  }
}
.index-header {
  @include fixed;
  @include colonne;
  z-index: 10;
  a,
  a:hover,
  a:active,
  a:visited {
    color: black;
  }
  figure {
    @include header;
    @include flex-center;
  }
}
.loader {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 32px;
  text-align: center;
  font-family: "Shrikhand";
  z-index: 11;
  div {
    height: 0.1px;
    width: 100%;
    transform: translate(0, -50px);
    animation: loader-translate 2s linear;
    span {
      margin: 0 5px 10px 0;
      display: inline-block;
      vertical-align: middle;
      @include rond20px;
      border: 8px solid rgba(50, 50, 50, 0.4);
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: -8px;
        left: -8px;
        bottom: -8px;
        right: -8px;
        border-radius: 20px;
        border: 8px solid transparent;
        border-top-color: black;
        animation: rotate 1s linear infinite;
      }
    }
  }
}
main {
  z-index: 9;
}
.explorer {
  font-size: 120%;
  &__localisation {
    @include flex-center;
    background-color: $beige;
    width: 100%;
    color: $gris;
    @include padding-hb;
  }
  &__reserver {
    background-color: $beigeclair;
    width: 100%;
    @include colonne-center;
    @include padding-hb;
    h3 {
      text-align: center;
      width: 70%;
    }
    :nth-child(2) {
      width: 90%;
      font-size: 80%;
      color: $gris;
      text-align: center;
      margin-bottom: 25px;
    }
    a p {
      font-size: 75%;
      margin-bottom: 25px;
      @include couleur-btn;
      @include ombre;
      transition: box-shadow 0.4s, filter 0.4s;
      @extend %Roboto-regular;
      &:hover {
        @include ombre-tres-sombre;
        filter: brightness(1.1);
      }
    }
  }
}
.nav-section {
  width: 100%;
  @include colonne-center;
  @include margin-hb;
  h3 {
    width: 90%;
    font-size: 150%;
    margin-bottom: 25px;
    @extend %max600;
    @media screen and (min-width: 890px) {
      max-width: initial;
    }
  }
  nav {
    width: 90%;
    margin-left: 12px;
    @extend %max600;
    @include colonne-center;
    @media screen and (min-width: 890px) {
      flex-direction: initial;
      max-width: initial;
    }
  }
}
.nav-conteneur {
  border-radius: 20px;
  width: 100%;
  background-color: $beigeclair;
  transition: background-color 0.4s, box-shadow 0.4s;
  margin-bottom: 15px;
  @include ombre;
  @media screen and (min-width: 890px) {
    margin-right: 25px;
  }
  &:hover {
    background-color: white;
    @include ombre-sombre;
  }
  &__block {
    @include flex-between;
    align-items: center;
    width: 75%;
    font-size: 100%;
    height: 70px;
    border-radius: 20px;
    @media screen and (min-width: 400px) {
      font-size: 130%;
    }
    @media screen and (min-width: 890px) {
      height: 100px;
      width: 100%;
      font-size: 100%;
      @include flex-center;
    }
    @media screen and (min-width: 1000px) {
      font-size: 110%;
    }
    @media screen and (min-width: 1290px) {
      font-size: 130%;
    }
    &:hover {
      div:nth-child(2) {
        color: $violet;
      }
    }
    div:nth-child(1) {
      font-size: 90%;
      background-color: $violet;
      color: white;
      position: relative;
      right: 15px;
      @include rond30px;
      @extend %Roboto-regular;
      @include flex-center;
      @media screen and (min-width: 890px) {
        left: 38%;
        top: 50px;
        font-size: 140%;
        @include rond35px;
        @media screen and (min-width: 1000px) {
          left: 35%;
          @include rond45px;
        }
        @media screen and (min-width: 1200px) {
          left: 32%;
          @include rond45px;
        }
      }
    }
    div:nth-child(2) {
      text-align: center;
      font-size: 110%;
      padding-right: 10px;
      color: $grisclair;
      transition: color 0.4s;
      @media screen and (min-width: 890px) {
        font-size: 140%;
        position: relative;
        right: 30px;
      }
    }
    h4 {
      @extend %Roboto-light;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      font-size: 85%;
      color: black;
      @media screen and (min-width: 890px) {
        position: relative;
        right: 20px;
      }
      @media screen and (min-width: 1200px) {
        right: 20px;
      }
    }
  }
}
.restaurant-general-conteneur {
  z-index: 9;
  background-color: $beigeclair;
  @include colonne-center;
  @media screen and (min-width: 890px) {
    margin-top: 60px;
  }
  a,
  a:hover,
  a:active,
  a:visited {
    color: black;
  }
}
.restaurant {
  width: 90%;
  @include colonne-center;
  @include padding-hb;
  @extend %max600;
  @media screen and (min-width: 890px) {
    max-width: initial;
  }
  h3 {
    width: 100%;
    font-size: 150%;
  }
  &-conteneur {
    width: 100%;
    @media screen and (min-width: 890px) {
      @include flex-between;
      flex-wrap: wrap;
    }
  }
  &-block {
    border-radius: 20px;
    background-color: white;
    width: 100%;
    overflow: hidden;
    @include colonne-center;
    @include margin-hb;
    @include ombre;
    transition: box-shadow 0.4s;
    @media screen and (min-width: 890px) {
      margin-right: 20px;
      width: 46%;
    }
    &:hover {
      @include ombre-sombre;
    }
    figure {
      width: 600px;
      height: 170px;
      @media screen and (min-width: 500px) {
        height: 200px;
      }
      @media screen and (min-width: 890px) {
        height: 230px;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
    &__txt {
      @include flex-between;
      width: 90%;
      height: 40px;
      padding-right: 10px;
      @include margin-hb;
      h4 {
        @extend %Roboto-gras;
        min-width: 140px;
      }
      p {
        padding-top: 5px;
      }
      &__icons {
        @include flex-center;
        transform: translate(-20px, 0);
        @media screen and (min-width: 330px) {
          transform: translate(0, 0);
        }
        p {
          text-align: center;
          padding: 7px 10px 0 10px;
          height: 30px;
          width: 70px;
          position: relative;
          bottom: 180px;
          left: 55px;
          color: $vert;
          background-color: $vertclair;
          border-radius: 5px;
          font-size: 110%;
          @extend %Roboto-regular;
          @media screen and (min-width: 500px) {
            bottom: 210px;
          }
          @media screen and (min-width: 890px) {
            width: 85px;
            bottom: 240px;
          }
        }
        .coeur-plein {
          z-index: 1;
          @include coeur;
          color: transparent;
          font-size: 170%;
          position: relative;
          left: 19%;
          @media screen and (min-width: 890px) {
            left: 18%;
          }
        }
        .coeur-vide {
          z-index: 2;
          font-size: 170%;
          color: white;
          @include txt-ombre;
          opacity: 1;
          transition: opacity 0.4s ease-in-out;
          &:hover {
            opacity: 0;
          }
        }
      }
    }
  }
}
footer {
  font-size: 120%;
  z-index: 7;
  @include colonne-center;
  background-color: $gris;
  color: white;
  a,
  a:hover,
  a:active,
  a:visited {
    color: white;
  }
  #footer {
    width: 90%;
    padding-bottom: 30px;
    padding-top: 10px;
    @extend %max600;
    @include colonne-center;
    @media screen and (min-width: 890px) {
      max-width: initial;
    }
    section {
      width: 100%;
      h3 {
        @extend %Shrikland-light;
      }
      ul span {
        font-size: 80%;
        margin-right: 10px;
      }
    }
  }
}
