.nav-conteneur__block__num, .header-section__figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-section {
  display: flex;
  flex-direction: column;
}

footer #footer, footer, .restaurant-block, .restaurant, .nav-section nav, .nav-section, .header-explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-block__txt, .restaurant-block, .nav-conteneur, .nav-section {
  margin: 20px 0 20px 0;
}

.restaurant, .header-explorer, .header-section__localisation {
  padding: 20px 0 20px 0;
}

.header-explorer__bouton {
  padding: 15px 20px 15px 20px;
}

.restaurant-block, .nav-conteneur, .header-explorer__bouton {
  box-shadow: 1px 3px 5px 1px gray;
}

body {
  margin: 0;
  max-width: 500px;
  font-size: 140%;
}
body a {
  text-decoration: none;
}
body p {
  text-align: center;
}
body figure {
  position: relative;
  margin: 0;
}

header a, header a:hover, header a:active, header a:visited {
  color: black;
}

.header-section--size {
  height: 70px;
  box-shadow: -2px 3px 5px 0px gray;
  background-color: white;
  z-index: 1;
}
.header-section__localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  color: #353535;
}

.header-explorer {
  background-color: #f6f6f6;
  width: 100%;
}
.header-explorer p {
  width: 80%;
  color: #353535;
}
.header-explorer__bouton {
  background-color: #9356DC;
  color: white;
  border-radius: 30px;
}

.nav-section {
  width: 100%;
}
.nav-section h3 {
  width: 90%;
}
.nav-section nav {
  width: 100%;
}

.nav-conteneur {
  border-radius: 20px;
  width: 90%;
  background-color: #f6f6f6;
}
.nav-conteneur__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  border-radius: 20px;
}
.nav-conteneur__block__num {
  background-color: #9356DC;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  position: relative;
  right: 10px;
  color: white;
}
.nav-conteneur__block__icon {
  color: #7e7e7e;
}

main a, main a:hover, main a:active, main a:visited {
  color: black;
}

.restaurant {
  width: 100%;
  background-color: #f6f6f6;
}
.restaurant h3 {
  width: 90%;
}
.restaurant-conteneur {
  width: 90%;
}
.restaurant-block {
  border-radius: 20px;
  background-color: white;
  width: 100%;
}
.restaurant-block__image {
  display: flex;
}
.restaurant-block__image__figure {
  width: 450px;
  height: 250px;
  left: 55px;
}
.restaurant-block__image__figure__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant-block__image__nouveau {
  padding: 10px 15px 15px 15px;
  height: 20px;
  position: relative;
  top: 19px;
  right: 13%;
  color: #008766;
  background-color: #99E2D0;
}
.restaurant-block__txt {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.restaurant-block__txt__coeur {
  display: flex;
  align-items: center;
}
.restaurant-block__txt__coeur--none {
  display: none;
}
.restaurant-block__txt__coeur--violet {
  color: #9356DC;
}

footer {
  color: white;
  background-color: #353535;
}
footer a, footer a:hover, footer a:active, footer a:visited {
  color: white;
}
footer #footer {
  width: 500px;
}
footer #footer section {
  width: 90%;
}/*# sourceMappingURL=style.css.map */