@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
@mixin flex-between{
   display: flex;
   justify-content: space-between;
}
@mixin colonne{
    display: flex;
    flex-direction: column;
  }
@mixin colonne-center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
@mixin margin-hb{
    margin-top: 20px;
    margin-bottom: 20px;
  }
@mixin padding-hb{
    padding-top: 20px;
    padding-bottom: 20px;
  }
@mixin padding-btn{
    padding: 15px 20px 15px 20px;
  }
@mixin padding-btn-commander{
    padding: 15px 30px 15px 30px;
  }
@mixin ombre{
    box-shadow: 1px 3px 5px 1px gray;
  }
@mixin txt-ombre{
    text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
  }
@mixin topradius{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
@mixin fixed{
  position: sticky;
  top: 0.1px;
}