@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-around {
  display: flex;
  justify-content: space-around;
}
@mixin colonne {
  display: flex;
  flex-direction: column;
}
@mixin colonne-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin margin-hb {
  margin-top: 20px;
  margin-bottom: 20px;
}
@mixin padding-hb {
  padding-top: 20px;
  padding-bottom: 20px;
}
@mixin couleur-btn {
  padding: 20px 30px 20px 30px;
  background: linear-gradient($rose, $violet);
  color: white;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
}
@mixin btn-nouveau {
  text-align: center;
  padding: 5px 10px 7px 10px;
  height: 20px;
  width: 70px;
  color: $vert;
  background-color: $vertclair;
  border-radius: 5px;
  font-size: 110%;
}
@mixin ombre-tres-sombre{
  box-shadow: 1px 5px 5px 2px $ombre-tres-sombre;
}
@mixin ombre-sombre{
  box-shadow: 1px 5px 5px 2px $ombre-sombre;
}
@mixin ombre {
  box-shadow: 1px 5px 5px 2px $ombre;
}
@mixin txt-ombre {
  text-shadow: 1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px 0 0 black;
}
@mixin coeur {
  background: linear-gradient(to right top, $rose, $violet);
  background-clip: content-box;
  -webkit-background-clip: text;
}
@mixin topradius {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@mixin header {
  box-shadow: 0px 3px 5px 0px $ombre-sombre;
  height: 70px;
  background-color: white;
  z-index: 1;
}
@mixin fixed {
  position: sticky;
  top: 0.1px;
}
@mixin txt-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin no-txt-hidden {
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
}
@mixin rond20px {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
@mixin rond30px {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
@mixin rond35px {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}
@mixin rond45px {
  width: 45px;
  height: 45px;
  border-radius: 45px;
}
