$gris: rgb(53, 53, 53);
$grisclair: rgb(126, 126, 126);
$violet: #9356DC;
$vert: rgb(0, 135, 102);
$vertclair: #99E2D0;
$rose: #FF79DA;
$beige: rgb(234, 234, 234);
$beigeclair: rgb(246, 246, 246);
$ombre-tres-sombre: rgb(150, 150, 150);
$ombre-sombre: rgb(202, 202, 202);
$ombre: rgb(231, 231, 231);